h1 {
	margin: 0;
	font:  38px/44px Georgia;
}
h2 {
	margin: 0;
	text-decoration: none;
	font:  25px/40px georgia;
	color: #2C4A7B;
	text-shadow: 1px 1px 1px #DEDEDE;
}
h3 {
	margin: 0;
	font: bold 18px/30px helvetica;
}
ul {padding: 0; margin: 0;}
a {
	color: #000;
}

body {
	margin: 0;
	padding: 0;
	/* 
	background-color: #2C4A7B;
	*/
	background-color: #FAFAFA;
	font: Georgia, Times New Roman, serif;
	font-size: 1.08em;
	line-height: 1.62em;
	color: #4a4a4a;
}
p {
	margin-bottom: 20px;
}

#main {
	background-color: #FAFAFA;
}

.section {
	width: 300px;
	/*
	min-height: 200px;
	*/
	height: 450px;
	overflow: auto;
	margin: 20px;
	padding: 10px;
	border: 2px solid #E7E7E7;
	background-color: #FFF;
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
	float: left;
}

.wrap-not-enabled {
	border: 2px solid black;
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
}

.floofy-border {
	border-top: 1px solid #222;
	border-bottom: 1px solid #2C4A7B;
	height: 1px;
	width: 100%;
}


.menu-row {
	padding: 60px 0 0px 0;
	text-align: right;
	border-bottom: 1px solid #777
}
.menu-item {
	display: inline-block;
	font:  18px/28px helvetica;
	color: #2C4A7B;
	margin-left: 20px;
	margin-right: 20px;
}
.menu-item a {
	text-decoration: none;
	color: #2C4A7B;
	text-shadow: 1px 1px 5px #CCC; /*, 2px 2px 1px #222; */
	position: relative;
	z-index: 9999;
}
.menu-item a:hover {
	color: orange;
}


.section-header {
	border-bottom: 3px dashed #555;
	bottom: -4px;
	color: #777;
	font: normal normal normal 40px/40px Georgia, Helvetica;
}
	
#content {
	position: relative;
	padding: 20px 0px;
	background-color: #FAFAFA;
	z-index: 1;
}

/**** Not used, but design interesting
.post-title {
	font: bold 18px/30px helvetica;
	margin: 12px 0 6px;
	color: #000;
} */



.post-content {
	padding: 20px 0 30px 0;
	margin: 0 0px 0px 0;
	border-top: 1px dotted #888;
}

/* === HOME STUFF === */
.grabber {
	font:  24px/44px Georgia;
	color: #333;
	text-align: justify;
}

.important-words {
	font:  38px/44px Georgia;
	color: #111;
}

.right-aligned {
	text-align: right;
	margin-right: 4px;
}
.centered {
	text-align: center;
}
.header-row {
	padding: 50px 0 30px 0;
}




	

.right {
	float: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}