---
title: A blog post
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/prism.css" />
    <link rel="stylesheet" href="/styles/newcss.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <a href="/" style="font-size: 24px;">🔙 🏠</a><br /><br />
    <main>
      {{ content | safe }}
    </main>
    <br /><br />
    <a href="/" style="font-size: 24px;">🔙 🏠</a> Thanks for reading!
  </body>
</html>
