h1 {
	margin: 0;
	font:  38px/44px Georgia;
}
h2 {
	margin: 0;
	text-decoration: none;
	font:  25px/40px georgia;
	color: #2C4A7B;
	text-shadow: 1px 1px 1px #DEDEDE;
}
h3 {
	margin: 0;
	font: bold 18px/30px helvetica;
}
ul {padding: 0; margin: 0;}
a {
	color: #000;
}

body {
	margin: 0;
	padding: 0;
	/* 
	background-color: #2C4A7B;
	*/
	background-color: #FAFAFA;
	font: Georgia, Times New Roman, serif;
	font-size: 1.08em;
	line-height: 1.62em;
	color: #4a4a4a;
}
p {
	margin-bottom: 20px;
}




#sidebar {
	float: left;
	width: 260px;
	margin: 20px 0 0 0;
}
#sideheader {
	height: 30px;
	margin: 20px 0 0 40px;
	font:  18px/28px helvetica;
	color: #111;
}
#sidecontent {
	float: clear;
	/* border-top: 2px solid #000; */
	padding: 0 0 0 40px;
}
#side-widget {
	margin-left: -4px;
}

#output {
	margin: 20px 0 0 300px;
}

#datapointfilter {
	height: 30px;
}
.filterbutton {
	float: left;
	margin: 0 30px 0 10px;
	display: inline-block;
	font:  18px/28px helvetica;
	color: #2C4A7B;
}
.filterbutton:hover {
	color: #EDAB28;
	cursor: pointer;
}
#datapointgrid { /*** now isoGrid ***/
	float: clear;
	/* border-top: 2px solid #000; */
}
.iso-vis {
	width: 180px;
	height: 180px;
	margin: 10px;
	padding: 10px;
}
.jqplot-event-canvas:hover {
	background-color: #940;
}
.vis-overlay {
	position: absolute;
	width: 160px;
	height: 129px;
	left: 10px;
	top: 28px;
	z-index: 999999;
}
.vis-overlay:hover {
	cursor: pointer;
	border: 2px solid #FFC82E;
	/* #FFC82E */
	background-color: rgba(255, 200, 46, 0.5);
}

/* this may not be necessary */
.button-holder {
	width: 180px;
	/* background-color: #FFF; 
	border: 1px solid #FCFCFC; */
	margin: 10px 10px 10px 0;
	padding: 10px;
}

.active-input {
	background-color: #FFC82E !important;
	-moz-box-shadow: inset 2px 2px 2px rgba(240, 240, 240, .5) !important;
	-webkit-box-shadow: inset 2px 2px 2px rgba(200, 200, 200, .5) !important;
	box-shadow:  inset 2px 2px 2px rgba(240, 240, 240, .5) !important;
}


.datapoint-active {

}
.datapoint-inactive {
	background-color: #FAFAFA !important;
	border: 1px solid #AAA;
	color: #CCC;
}



.menu-row {
	padding: 60px 0 0px 0;
	text-align: right;
	border-bottom: 1px solid #777
}
.menu-item {
	display: inline-block;
	font:  18px/28px helvetica;
	color: #2C4A7B;
	margin-left: 20px;
	margin-right: 20px;
}
.menu-item a {
	text-decoration: none;
	color: #2C4A7B;
	text-shadow: 1px 1px 5px #CCC; /*, 2px 2px 1px #222; */
	position: relative;
	z-index: 9999;
}
.menu-item a:hover {
	color: #EDAB28;
}


.section-header {
	border-bottom: 3px dashed #555;
	bottom: -4px;
	color: #777;
	font: normal normal normal 40px/40px Georgia, Helvetica;
}
	
#content {
	position: relative;
	padding: 20px 0px;
	background-color: #FAFAFA;
	z-index: 1;
}


/* === HOME STUFF === */
.grabber {
	font:  24px/44px Georgia;
	color: #333;
	text-align: justify;
}

.important-words {
	font:  38px/44px Georgia;
	color: #111;
}

.right-aligned {
	text-align: right;
	margin-right: 4px;
}
.centered {
	text-align: center;
}
.header-row {
	padding: 50px 0 30px 0;
}


/*****************************************************************/

.button {
	width: 170px;
	font:  18px/32px helvetica;
	background-color: #FFF;
	border: 1px solid #AAA;
	margin: 10px 0 10px 0;
	padding: 0 0 0 4px;
	cursor: pointer;
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
}
.button:hover {
	/*
	-moz-box-shadow: 3px 3px 2px #AAA;
	-webkit-box-shadow: 3px 3px 2px #AAA;
	box-shadow: 3px 3px 2px #AAA; 
	*/
	border: 1px solid #EDAB28;
}
.button:active {
	-moz-box-shadow: inset 2px 2px 2px #CCC;
	-webkit-box-shadow: inset 2px 2px 2px #CCC;
	box-shadow:  inset 2px 2px 2px #CCC;
}

.selected-button {
	background-color: #FFC82E;
	-moz-box-shadow: inset 2px 2px 2px rgba(240, 240, 240, .5);
	-webkit-box-shadow: inset 2px 2px 2px rgba(200, 200, 200, .5);
	box-shadow:  inset 2px 2px 2px rgba(240, 240, 240, .5);
	
	background-color: #F4F4F4; /* !important;*/
	-moz-box-shadow: inset 2px 2px 2px #CCC;
	-webkit-box-shadow: inset 2px 2px 2px #CCC;
	box-shadow:  inset 2px 2px 2px #CCC;
	margin-top: 11px;
	margin-bottom: -1px;
	border-top: 1px solid #AAA;
	border-left: 1px solid #AAA;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
/***********************************************************************/

.right {
	float: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width; 
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}