<% include layout-header %>
	
	<section id="main_content">
		
		<div class="section">
			<h2>
				<a href="http://www.readysetsql.com/">Ready Set SQL</a>
			</h2>
			<small>Interactive SQL Lessons (2011 - 2013)</small>
			<br><br>
			<div>
				<p>
					Ready Set SQL is a series of interactive SQL lessons geared towards learning SQL useful for reporting purposes. 
					The target audience is semi-tech-savvy business people who may have access to some sort of database (either directly or via some tool such as Microsoft Access).
				</p>
				<p>
					It's almost finished. Just needs more content and some final tweaking.
				</p>
			</div>
		</div>
		<hr>
		<div class="section">
			<h2>
				<a href="/creations/chart-builder-2/">Chart Builder</a>
			</h2>
			<small>UI Prototype (2010)</small>
			<br><br>
			<div>
				<p>
					An experimental UI for creating charts and graphs. 
					The primary focus was to create a tablet friendly UI and a simple approach to selecting a chart and data.
				</p>
				<p>
					The main interaction was driven via the isotope plugin for jQuery. 
					I didn't get very far with it, partially because coding this kind of UI got confusing, 
					and the interaction/usability wasn't very fitting for its use case. Sure it looked cool, but how practical would it have been?
				</p>
			</div>
		</div>
		<hr>
		<div class="section">
			<h2>
				 <a href="/creations/dashboard-builder/">Ugly Dashboard Builder</a>
			</h2>
			<small>UI Prototype (2009)</small>
			<br><br>
			<div>
				<p>
					A drag and drop interface experiement to create ugly dashboards using the Google Vis API. 
					A self-challenge utilizing jQuery, object-oriented JavaScript, Google Visualization API, and fancy CSS.
				</p>
			</div>
		</div>
		<hr>
		<div class="section">
			<h2>
				 <a href="/posts/">Posts</a>
			</h2>
			<small>Ramblings, rantings, lessons learned, unfinished thoughts.</small>
			
		</div>
	</section>

<% include layout-footer %>