
		<footer>
			
			<!--
			<section id="downloads" class="clearfix">
				<a href="https://github.com/rickbergfalk" id="view-on-github" class="button"><span>me on GitHub</span></a>
			</section>
			-->
			<p>
				Rick Bergfalk is a Business Intelligence developer that dabbles with web development on the side via Node.js.
			</p>
			<p class="footer-links">
				© Rick Bergfalk 2013 <a href="http://github.com/rickbergfalk">github</a> <a href="http://twitter.com/rickbergfalk">twitter</a>
			</p>
		</footer>

        
      </div>
    </div>
  </body>
</html>
