<% include layout-header %>
	<a href="/posts/">Back to Posts</a>
	<hr>	
	<section id="main_content">
		<h1>
			<%= post.meta.title %>
		</h1>
		<small>
			<%= moment(post.meta.date).format("MMMM YYYY") %>
		</small>
		<hr>
		<div>
			<%- post.content %>
		</div>
	</section>
	<hr>
	<a href="/posts/">Back to Posts</a>
<% include layout-footer %>