body {
	/* background-image: url('../images/greyslant.png'); */
	margin: 0px;
	padding: 0px;
	overflow-y: hidden;
	overflow-x: auto;
	background-color: #AAA;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
/*
.button {
	display: inline-block;
	margin: 10px 10px 10px 10px;
	padding: 5px 10px; 
	text-decoration: none;
	color: #1C94C4;
}
*/

/* Top Menu */
#top-menu {
	position: fixed;
	height: 36px;
	width: 100%;
	background-color: #FFF;
	top: 0px;
	border-bottom: 2px groove #ddd;
	color: #444;
}
#top-sub-menu {
	z-index:2;
	position: fixed;
	height: 36px;
	left: 0px;
	top: 38px;
	right: 0px;
	border-bottom: 2px groove #111;
	background-color: #444;
	color: #FFF;
}

.menuHover {
	color: red;
	cursor: pointer;
}

.toolbar ul {
	display: block;
}

.toolbar li {
	height: 20px;
	line-height: 20px;
	padding: 0 10px 0 10px;
	list-style-type: none;
	display: inline-block;
	margin-top: 8px;
	border-right: 2px groove #ddd;
}

.toolbar li:last-child{
	border-right: 0px;
}

.toolbar .left-ui {
	float:left;
	width:300px;
}
.toolbar .right-ui {
	text-align: right;
	white-space: nowrap;
}

/* SEARCH UI */
#search-box{
	padding: 0px;
	margin: 0px;
	height: 23px;
	width: 150px;
	border: solid 2px #444;
}
#search-button {
	width: 60px;
	height: 27px;
	border: solid 2px #444;
	border-left: 0px;
}

#left-menu {
	width: 150px;
	background-color: #FFF;
	/* background-image: url('../images/gradient1000.png'); */
	position: fixed;
	left: -160px;
	top: 96px;
	border: 2px solid #666;
	box-shadow: 10px 10px 5px #888;
	/* margin-left: -200px;
	*/
}
#left-menu h3 {
	width: 100px;
	margin: 20px auto;
}
#left-menu ul {
	padding: 0px 0px 30px 0px;
	margin: 0;
}
#left-menu li {
	padding: 0;
	margin: 5px auto;
	list-style-type: none;
}
#left-menu .icon {
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	border: 2px solid #222;
	background-color: #DDD;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
}


#board-wrapper{
	/* this
	margin: 80px 0px 0px 0px;
	*/
	/* or this */
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 76px;
	overflow: auto;
}
#board {
	margin: 20px auto;
	width: 800px;
	min-height: 1500px;
	background-color: #FFF;
	border: 2px solid #444444;
	position: relative;
	z-index: 1;
}
#footer {
	clear: both;
	width: 800px;
	margin: auto;
}

.box-shadow {
	-moz-box-shadow: 4px 4px 5px #888;
	-webkit-box-shadow: 4px 4px 5px #888;
	box-shadow: 4px 4px 5px #888;
}

.container {
	padding: 10px;
	position: absolute;
}
.chart {
	position: static;
	z-index: 10;
}
.propertiesMenu {
	display:block;
	/* 200, 255, 15 is neon green! */
	background-color: rgba(255, 255, 255, 0.6);
	border: 2px dotted #444;
	position: absolute;
	height: 100%;
	width: 100%;
	right: 0px;
	bottom: 0px;
	z-index: 12;
}

.propertiesToolbar {
	background-color: rgba(100, 100, 100, 0.4);
	color: #000;
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 36px;
	border-bottom: 2px dotted #444;
	display: none;
}

h3 {
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: #111111;
}


#icon-motion {
	background-image: url('../images/icon-motionchart.png');
}
#icon-bar {
	background-image: url('../images/icon-barchart.png');
}
#icon-pie {
	background-image: url('../images/icon-piechart.png');
}
#icon-line {
	background-image: url('../images/icon-linechart.png');
}
#icon-gauge {
	background-image: url('../images/icon-gauge.png');
}