
form legend {
  padding: 0 2px;
  font-weight: bold;
}
form label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form ol {
  margin: 0;
  padding: 0;
}
form li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form label {
  width: 150px; /* Width of labels */
}
input {
	width: 250px;
}
select {
	display: inline;
	width: 250px;
}
