/* Thanks http://www.sohtanaka.com/web-design/inline-modal-window-w-css-and-jquery/! */
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #FAFAFA;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .90;
	z-index: 9999;
}

.popup-block{
	display: none; /*--hidden by default--*/
	width: 680px;
	max-height: 80%;
	overflow: hidden;
	overflow-y: scroll;
	background: #fff;
	padding: 20px;
	border: 10px solid #222;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 10px #AAA;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
} 
img.btn-close {
	float: right;
	margin: -55px -55px 0 0;
}
.popup-label {
	margin: 30px 0 40px 0;
	font-size: 30px;
	font-family: georgia;
	color: #333;
}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup-block {
	position: absolute;
}