/* Thanks http://www.sohtanaka.com/web-design/inline-modal-window-w-css-and-jquery/! */
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #FBFBFB;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .97;
	z-index: 9999;
}

.popup-block{
	display: none; /*--hidden by default--*/
	width: 680px;
	max-height: 90%;
	overflow: hidden;
	overflow-y: scroll;
	background-color: rgba(245,245,245,0.0);
	padding: 20px;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
} 
img.btn-close {
	float: right;
	margin: -55px -55px 0 0;
}
.popup-label {
	margin: 30px 0 40px 0;
	font-size: 30px;
	font-family: georgia;
	color: #333;
}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup-block {
	position: absolute;
}