html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 40 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:40px; }
.grid_2 { width:100px; }
.grid_3 { width:160px; }
.grid_4 { width:220px; }
.grid_5 { width:280px; }
.grid_6 { width:340px; }
.grid_7 { width:400px; }
.grid_8 { width:460px; }
.grid_9 { width:520px; }
.grid_10 { width:580px; }
.grid_11 { width:640px; }
.grid_12 { width:700px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 720px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid #DDD;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* ===== RESET ADDONS  (so I can cut and paste in new grids but still keep this stuff) ===== */
.row {
	padding: 20px 0 20px 0;
}